<div class="page">
  <h2>Help</h2>

  <h3>How to share</h3>

  <p>Click the "New Link" button in the menu or use our bookmarklet. Bookmarklets are little javascript links that live in the bookmarks toolbar of your browser. Drag the following link to your bookmarks: <a href="javascript:q=location.href;if(document.getSelection)%7Bd=document.getSelection();%7Delse%7Bd='';%7D;p=document.title;void(open('http://doss.herokuapp.com/links/new?url='+encodeURIComponent(q)+'&title='+encodeURIComponent(p),'Dossier','toolbar=no,scrollbars=yes,width=450,height=700'));" style="font-weight:bold;">share to dossier</a></p>
</div>