<div class="page">
  <h2>Submit a new link</h2>

  <% if current_user %>
    <%= render 'form' %>
  <% else %>
    <p>You must have a Roundhouse Basecamp account and <%= link_to "sign in", "/auth/37signals" %> before submitting a link.</p>
  <% end %>
</div>