@font-face {
  font-family: 'dinPro';
  src: url('fonts/DIN.eot');
  src: url('fonts/DIN.eot?#iefix') format('embedded-opentype'),
       url('fonts/DIN.woff') format('woff'),
       url('fonts/DIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dinProMedium';
  src: url('fonts/DIN-Medium.eot');
  src: local('☺'),
    url('fonts/DIN-Medium.woff') format('woff'),
    url('fonts/DIN-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dinProBold';
  src: url('fonts/DIN-Bold.eot');
  src: local('☺'),
    url('fonts/DIN-Bold.woff') format('woff'),
    url('fonts/DIN-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dinProBlack';
  src: url('fonts/DIN-Black.eot');
  src: local('☺'),
    url('fonts/DIN-Black.woff') format('woff'),
    url('fonts/DIN-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'MrsEavesRoman';
    src: url('fonts/mrseavrom.eot');
    src: local('☺'),
      url('fonts/mrseavrom.eot?#iefix') format('embedded-opentype'),
      url('fonts/mrseavrom.woff') format('woff'),
      url('fonts/mrseavrom-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}