

$accent: #E1874D;
$darkaccent: #86502E;
$black: #222;
$lightgrey: #eee;
$grey: #aaa;
$darkgrey: #777;

$font: 'Karla', sans-serif;

body {
  font-family: $font;
  margin:0;padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6,p {margin:0;padding:0;}

h2 {
  font-size:26px;
}

div.container {
  @include outer-container;
  padding:0 0 30px;
}

a {
  @include transition (all 0.2s linear);
  color:$accent;
  text-decoration: none;

  &:hover {
    color:$darkaccent;
  }
}

header {
  background:#000;
  overflow: hidden;

  h1 {
    margin:0;
    color:white;
    padding:10px 14px;
    font-size:13px;
    float:left;
  }

  nav {
    float:right;
    display: block;
    font-weight: bold;
    font-size:11px;

    a {
      padding:12px 14px;
      color:white;
      display: block;
      background:$accent;
      text-decoration: none;

      &:hover {
        background:$darkaccent;
        color:white;
      }
    }
  }
}

article.link {
  @include span-columns(12);
  position: relative;
  padding-top:30px;
  @include transition (all 0.2s linear);

  @include breakpoint(max-width 479px, 1) {
    padding:30px 30px 0 30px;
  }

  h2 {
    font-size:26px;
    margin:0;
    padding:0 0 15px 0;

    @include breakpoint(max-width 479px) {
      font-size:20px;
    }

    a {
      color:$black;

      &:hover {
        color:$accent;
      }
    }

    span {
      font-size:11px;
      font-weight:300;
      color:$grey;
    }
  }

  p {
    font-size:16px;
    line-height: 1.4;
    padding-bottom:15px;
  }

  blockquote {
    color:$darkgrey;
    font-style: italic;
    margin-top:0;
    padding-left:15px;
    border-left:5px solid $lightgrey;
  }

  div.info {
    overflow: hidden;
    font-size:11px;
    padding:0 0 10px 0;
    border-bottom:1px solid $lightgrey;
    color:$grey;
    @include transition (all 0.2s linear);

    div.info-data {
      float:left;
      display:inline;
    }
  }

  div.vote-buttons {
    position:absolute;
    left:-39px;
    top:32px;

    @include breakpoint(max-width 479px) {
      left:auto;
      right:30px;
    }

    a {
      display:block;
      width:24px;
      position: relative;

      &:hover {
        opacity:0.4;
      }

      &:active {
        top:1px;
      }
    }
  }

  &:hover div.info {
    color:$darkgrey;
  }
}

footer {
  clear:both;
  font-size:9px;
  padding-top:250px;
  color:$grey;

  @include breakpoint(max-width 479px) {
    padding:250px 30px 0;
  }
}